@page "/restaurant"


<h3>RestaurantPage</h3>

<div> <button @onclick="(() => SelectDish(1))">Carbonara</button>
<button @onclick="(() => SelectDish(2))">Bolognese</button>
<button @onclick="(() => SelectDish(3))">Saporita</button>
<button @onclick="(() => SelectDish(4))">AlAglio</button>
</div>
<div>
 <button @onclick="(() => SelectTable(1))">Table 1</button>
  <button @onclick="(() => SelectTable(2))">Table 2</button>
   <button @onclick="(() => SelectTable(3))">Table 3</button>
    <button @onclick="(() => SelectTable(4))">Table 4</button>
     <button @onclick="(() => SelectTable(5))">Table 5</button>
      <button @onclick="(() => SelectTable(6))">Table 6</button>
       <button @onclick="(() => SelectTable(7))">Table 7</button>
        <button @onclick="(() => SelectTable(8))">Table 8</button>
         <button @onclick="(() => SelectTable(9))">Table 9</button>
          <button @onclick="(() => SelectTable(10))">Table 10</button>
          <button @onclick="(() => SelectTable(11))">Table 11</button>
          <button @onclick="(() => SelectTable(12))">Table 12</button>
          </div>

         <div > <button @onclick="(() => AddDishToTable())">Add to table</button> </div>




